[submodule "backend"]
	path = backend
	url = https://github.com/nadhirxz/kodikos-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/nadhirxz/kodikos-frontend
[submodule "forecast"]
	path = forecast
	url = https://github.com/nadhirxz/kodikos-forecast
